.container{
    text-align: center;
    padding: 10px;
    background-color: #000;
    margin: 0px 500px;
}
.inputElm{
    width: 193px;
    height: 38px;
    font-size: 15px;
    text-align: right;
    margin-bottom: 5px;
}
.inputElm:hover{
  background-color: #000;
  color: #fff;
}
.clr{
    width: 150px;
}
button{
    width: 50px;
    height: 30px;
    font-size: 18px;
}
button:hover{
background-color: #000;
color: #fff;
border: #f00 solid 2px;
}
button:active{
background-color: #f00;
color: #000;
border: #fff solid 2px;
}
@media  screen and (max-width:576px) {
    .container{
        text-align: center;
        padding: 10px;
        background-color: #000;
        margin: 0px 65px;
    }
}